---
layout: markdown_page
title: "Product Kickoff Review"
---

- TOC
{:toc}

## Overview

The next GitLab release is 
<%= direction.keys[1] %> 
and this page contains the items that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the GitLab YouTube channel. Only presenters will be promoted to panelists. Please use the “Raise my hand” feature if you are a presenter.
Please use YouTube comments instead of Google Hangout or Zoom comments.

Product Section leaders will present highlights from their respective sections, and we will not cover each item in the list below, but feel free to click on any you're interested in and participate directly in the issue.

## Dev Section

### Manage

Video: 

<%= direction[direction.keys[1]]["manage"] %>

### Plan

Video: 

<%= direction[direction.keys[1]]["plan"] %>

### Create

Video: 

<%= direction[direction.keys[1]]["create"] %>

## CI/CD Section

### Verify

Video: 

<%= direction[direction.keys[1]]["verify"] %>

### Package

Video: 

<%= direction[direction.keys[1]]["package"] %>

### Release

Video: 

<%= direction[direction.keys[1]]["release"] %>

## Ops Section

### Configure

Video: 

<%= direction[direction.keys[1]]["configure"] %>

### Monitor

Video: 

<%= direction[direction.keys[1]]["monitor"] %>

## Secure Section

### Secure

Video: 

<%= direction[direction.keys[1]]["secure"] %>

## Defend Section

### Defend

Video: 

<%= direction[direction.keys[1]]["defend"] %>

## Growth Section

### Growth

Video: 

<%= direction[direction.keys[1]]["growth"] %>

## Enablement Section

### Enablement

Video: 

<%= direction[direction.keys[1]]["enablement"] %>
